---
title: Le Wagon - Middleman
---

<div id="home">
  <div class="home-content">
    <div class="banner-container">
    <%= partial "layouts/banner" %>
    </div>

    <div class= "cards">
      <%= partial "layouts/cards" %>
    </div>

    <div class= "footer">
      <%= partial "layouts/footer" %>
    </div>
  </div>
</div>
